################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Torasarel/FileContentIndex/91bbfca5-2b53-43f4-9308-dab140c3ec19.vsidx
/.vs/Torasarel/FileContentIndex/398f5c62-e65a-4687-855f-101992ca3c50.vsidx
/.vs/Torasarel/FileContentIndex
/.vs/Torasarel/v17
/.vs
